.section-indent {
	padding: 75px 0;

	@include breakpoints(t) {
		padding: 100px 0 75px;
	}
}

.section-title {
	margin-bottom: 50px;
}

.section-content {
	h3:not([class]) {
		margin-top: 25px;
		margin-bottom: 15px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.no-wrap {
	white-space: nowrap;
}

.text-right {
	text-align: right;
}