@font-face {
	font-family: 'Open Sans';
	src: url('./../assets/fonts/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./../assets/fonts/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./../assets/fonts/OpenSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}