h1,
body .h1 {
	font: {
		size: $font-size__h1--mobile;
		style: normal;
		weight: 600;
	}
	line-height: 1.25;

	@include breakpoints(d) {
		font-size: $font-size__h1;
	}

	&.h1--full {
		font-size: $font-size__h1;
	}
}

h2,
body .h2 {
	font: {
		size: $font-size__h2;
		style: normal;
		weight: 600;
	}
	line-height: 1.25;
}

h3,
body .h3 {
	font: {
		size: $font-size__h3;
		style: italic;
		weight: 400;
	};
	line-height: 1.5;
}

h4,
body .h4 {
	font: {
		size: $font-size__h4;
		style: normal;
		weight: 600;
	};
	line-height: 1.5;
}

p, li {
	font: {
		size: $font-size__text;
		style: normal;
		weight: 400;
	}
	line-height: 1.5;;
	margin-bottom: 10px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: 600;
}

em, i {
	font-style: italic;
}

a {
	text-decoration: none;
}