//
// Colors
// ----------------------------------------------
$primary_color: #101F32;
$primary_color_alt: #65828E;
$primary_color_light: #DAE1DD;
$secondary_color: #BD2439;
$secondary_color_alt: #D5A86F;

//
// Font sizes
// ----------------------------------------------
$font-size__text: 14px;
$font-size__h1: 48px;
$font-size__h1--mobile: 30px;
$font-size__h2: 30px;
$font-size__h3: 24px;
$font-size__h4: 14px;

//
// Container max-widths
// ----------------------------------------------
$tablet_max_width: 768px;
$desktop_max_width: 1144px;

//
// Breakpoints
// ----------------------------------------------
$phone: 375px;
$tablet: 600px;
$desktop: 1024px;
$large_desktop: 1440px;
