body {
	color: $primary_color;
	font-family: 'Open Sans', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	text-rendering: optimizeLegibility;

	.mdc-layout-grid {
		padding-bottom: 0;
		padding-top: 0;

		@include breakpoints(t) {
			max-width: $tablet_max_width;
		}

		@include breakpoints(d) {
			max-width: $desktop_max_width;
		}
	}
}