li:not([class]) {
	padding-left: 37px;
	position: relative;

	&:before {
		background: {
			image: url('./../assets/images/dot.svg');
			size: cover;
		}
		content: '';
		height: 12px;
		left: 0;
		position: absolute;
		top: 7px;
		width: 12px;;
	}
}