.about {
	padding: 15px 0;

	&__content {
		align-self: center;
		margin-top: 50px;
		text-align: left;
	}

	&__image {
		margin-top: 15px;
		text-align: center;
	}

	.more {
		margin-top: 25px;
	}

	&__subtitle {
		font-size: 18px;
		font-style: italic;
		font-weight: 400;
		line-height: 1.1;
		margin-top: 25px;
	}


	@include breakpoints(d) {
		&__image {
			margin-top: 0;
			order: 1;
		}

		&__content {
			margin-top: 0;

			&--second {
				margin-top: 50px;
			}
		}
	}
}