.accordion {
	.content {
		display: none;
		margin-top: 25px;
	}

	.title {
		cursor: pointer;
		display: block;
		padding-right: 25px;
		position: relative;

		&:after {
			background-image: url("../assets/images/arrow-right-second.svg");
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			height: 20px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: transform .2s ease-in;
			width: 14px;
		}

		&.active:after {
			transform: translateY(-50%) rotate(90deg);
		}
	}

	&__item {
		margin: 0 0 25px;

		.accordion__item {
			margin-bottom: 15px;
		}
	}

}