.charity {
	&__subtitle {
		margin: 25px 0 50px;
	}

	&__image {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	&__footer {
		margin-top: 50px;
		text-align: center;
	}

	&__inner-copy {
		display: flex;
		margin: 0 -5px;

		& > * {
			padding: 0 5px;
		}
	}

	@include breakpoints(t) {
		&__image {
			margin-top: 0;
		}

		.mini-contacts {
			justify-content: flex-end;
		}

		&__footer {
			margin-top: 75px;
			text-align: right;
		}
	}
}