.dry-cleaning {
	&__content {
		margin-top: 50px;
	}

	&__text {
		margin-top: 25px;
	}

	&__actions {
		margin-top: 25px;
	}

	&__image {
		margin-bottom: 25px;
	}

	&__footer {
		margin-top: 50px;
		text-align: center;
	}

	@include breakpoints(t) {
		&__image {
			margin-bottom: 0;
			order: 2;
		}

		&__footer {
			margin-top: 75px;
		}
	}
}