.footer-links {
	li {
		font: {
			size: $font-size__text;
			style: normal;
			weight: 600;
		}
		line-height: 1.3571428571;
		margin: 0 0 10px;

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			color: #fff;
		}
	}
}

.footer-links-settings {
	margin-top: 25px;

	li {
		font: {
			size: $font-size__text;
			style: normal;
			weight: 400;
		}
		line-height: 1.3571428571;
		margin: 0 0 10px;

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			color: rgba(255, 255, 255, 0.3);
		}
	}

	@include breakpoints(t) {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-top: 0;

		li {
			margin: 0 0 0 25px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	@include breakpoints(d) {
		justify-content: center;
	}
}