.g-map {
	height: 300px;
	margin-top: 50px;
	position: relative;
	width: 100%;

	&__wrapper {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}


	iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	@include breakpoints(t) {
		margin-top: 0;
		height: 100%;

		&__wrapper {
			width: calc(100% + 15px);
		}
	}

	@include breakpoints(768px) {
		&__wrapper {
			width: calc(100% + (100vw - 768px) / 2 + 15px);
		}
	}

	@include breakpoints(d) {
		&__wrapper {
			width: calc(100% + 15px);
		}
	}

	@include breakpoints(1144px) {
		&__wrapper {
			width: calc(100% + (100vw - 1144px) / 2 + 15px);
		}
	}
}