.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 18px;
	outline: none;
	padding: 0;
	position: relative;
	width: 30px;

	&__icon,
	&__icon:before,
	&__icon:after {
		background: $primary_color;
		border-radius: 5px;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
		transition: all .2s ease;
		width: 100%;
	}

	&__icon {
		top: 50%;
		transform: translateY(-50%); /* center centerpoint of icon-element in container*/
	}

	&__icon:before {
		top: -400%;
	}

	&__icon:after {
		top: 400%;
	}


	&.active .hamburger__icon {
		transform: rotate(45deg) translate(-3px, -3px); /* translate to raise cross to optically centered position*/
	}

	&.active .hamburger__icon:before,
	&.active .hamburger__icon:after {
		top: 0;
	}

	&.active .hamburger__icon:before {
		transform: rotate(90deg);
	}

	@include breakpoints(d) {
		display: none;
	}
}