.header {
	background: #fff;
	left: 0;
	position: fixed;
	top: 0;
	transition: background-color .2s ease-in;
	width: 100%;
	z-index: 5;

	.mdc-layout-grid {
		position: relative;
	}

	&.open {
		overflow: visible;
	}

	&__right {
		position: relative;
	}

	&__right {
		&:after {
			background: $primary_color;
			border-radius: 5px 0 0 5px;
			bottom: 0;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			width: 100vw;
		}
	}

	&__right-wrapper {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding: 25px 0;
	}

	@include breakpoints(t) {
		&__right-wrapper {
			padding: 30px 0;
		}
	}

	@include breakpoints(d) {
		&__right {
			&:after {
				display: none;
			}
		}

		&__right-wrapper {
			padding: 0;
		}
	}
}


.home .header.on-top {
	@include breakpoints(d) {
		background: transparent;
	}
}