.icon-phone {
	align-items: center;
	background: $primary_color;
	border: 2px solid $primary_color;
	border-radius: 50%;
	display: inline-flex;
	height: 70px;
	justify-content: center;
	transition: all .2s ease;
	width: 70px;

	&:hover, &:focus {
		background: #fff;

		path {
			fill: $primary_color;
		}
	}

	@include breakpoints(t) {

		height: 100px;
		width: 100px;
	}
}