.logo {
	display: block;
	line-height: 1;
	position: absolute;
	right: 20px;
	top: -4px;
	width: 1140px;

	&__wrapper {
		position: relative;
	}

	svg {
		width: 100%;
	}

	@include breakpoints(t) {
		top: 10px;
	}

	@include breakpoints(d) {
		right: 0;
	}

	@include breakpoints(ld) {
		right: 10px;
	}
}