.main-video {
    padding: 50px 0 0;

    .wp-video {
        margin: 0 auto;
    }

    .mejs-controls {
        opacity: 0;
    }

    .mejs-overlay-button {
        background-image: url('../assets/images/white-play-icon.svg');
        background-position: 0 0;
        width: 40px;
        height: 40px;
        outline: none;
    }

    .mejs-overlay:hover > .mejs-overlay-button {
        background-position: 0 0;
    }
}