.menu {
	.sub-menu {
		padding-left: 25px;
	}

	@include breakpoints(d) {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding: 50px 0 10px;
		position: relative;

		&:after {
			background: $primary_color;
			border-radius: 5px 0 0 5px;
			bottom: 0;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			transition: left .3s ease-in;
			width: 100vw;
		}

		&__wrapper {
			display: flex;
			justify-content: flex-end;
		}

		.sub-menu {
			background: #fff;
			display: none;
			min-width: 150px;
			padding: 15px 25px;
			position: absolute;
			z-index: 2;

			.menu-item {
				margin: 0 0 10px;

				&:last-child {
					margin-bottom: 0;
				}

				a:before {
					bottom: -2px;
				}

				&:hover a:before,
				&:focus a:before {
					bottom: 0;
				}
			}
		}
	}
}

.home .menu, .home .header.on-top .menu {
	@include breakpoints(d) {
		&:after {
			left: 100%;
		}
	}
}

.home .header.on-top .menu {
	@include breakpoints(d) {
		&:hover:after {
			left: 0;
		}

		> .menu-item > a:before {
			opacity: 0;
			transition: none;
		}

		&.transitionend > .menu-item > a:hover:before {
			opacity: 1;
			transition: all .3s ease;
		}
	}
}

.home .header:not(.on-top) .menu {
	@include breakpoints(d) {
		&:after {
			left: 0;
		}
	}
}