.mini-contacts {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 25px;

	.more {
		margin: 15px 0 0;
	}

	@include breakpoints(t) {
		align-items: center;
		flex-direction: row;

		.more {
			margin: 0 0 0 50px;
		}
	}
}