.navigation {
	background: white;
	bottom: 0;
	height: calc(100vh - 100%);
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 25px 0;
	position: absolute;
	right: calc(var(--mdc-layout-grid-margin-phone) / -1);
	top: 100%;
	transform: translate3d(100%, 0, 0);
	transition-duration: 192ms;
	transition-property: opacity, transform, visibility;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	visibility: hidden;
	width: 100vw;
	z-index: 4;

	&.open {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	@include breakpoints(t) {
		right: calc(var(--mdc-layout-grid-margin-tablet) / -1);
	}

	@include breakpoints($tablet_max_width) {
		right: calc((100vw - 768px) / -2 - 15px);
	}

	@include breakpoints(d) {
		padding: 0;
		display: block;
		opacity: 1;
		visibility: visible;
		width: 100%;
		position: static;
		transform: none;
		background: transparent;
		overflow: visible;

		.mdc-layout-grid {
			padding: 0;
		}
	}
}