.price {
	padding: 50px 0 75px;

	&__inner {
		margin-top: 50px;
	}

	&__list {
		margin-top: 25px;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 10px;
		}
	}

	&__item {
		align-items: center;
		display: flex;
		justify-content: space-between;

		span:last-of-type {
			margin-left: 10px;
			white-space: nowrap;
		}
	}

	&__desc {
		margin-top: 25px;
	}

	@include breakpoints(t) {
		padding: 75px 0 100px;

		&__list {
			margin-top: 50px;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 25px;
			}
		}
	}

	@include breakpoints(d) {
		padding: 100px 0 125px;
	}
}