.socials {
	margin-top: 25px;

	&__item {
		display: inline-block;
		margin-left: 25px;

		&:first-of-type {
			margin-left: 0;
		}
	}

	&--contacts {

	}

	@include breakpoints(t) {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0;

		&--left {
			justify-content: flex-start;
		}
	}
}