.training {
	&__subtitle {
		margin: 25px 0 50px;
	}

	p.training__text {
		margin-bottom: 15px;
		margin-top: 25px;
	}

	p.training__text:last-child {
		margin-bottom: 0;
	}

	&__list {
		list-style: disc;
		padding-left: 20px;

		li {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	&__footer {
		margin-top: 50px;

		h3 {
			margin-bottom: 25px;
		}
	}

	&__image {
		margin-top: 25px;
	}

	@include breakpoints(t) {
		&__subtitle {
			text-align: right;
		}

		&__image {
			margin-top: 0;
		}
	}
}