.works-slider {
	padding: 0 0 50px;
	position: relative;

	&:after {
		background: $primary_color_light;
		bottom: 0;
		content: '';
		height: 58.2278481013%;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: -1;
	}

	&__inner {
		margin-top: 50px;
	}

	&__title {
		text-align: center;
	}

	@include breakpoints(t) {
		&:after {
			height: 55.5147058824%;
		}
	}
}

.works-slide {
	margin: 0 3.33vw;
	max-width: 450px;
	outline: none;
	width: 68.8vw;

	&__date {
		margin-top: 25px;
	}

	@include breakpoints(t) {
		margin: 0 4.8177083333vw;
	}

	@include breakpoints(d) {
		margin: 0 8.6805555556vw;
	}

	@include breakpoints(ld) {
		margin: 0 125px;
	}
}